@charset "UTF-8";
/* CSS Document */

#derecha {text-align : right}
#izquierda {text-align : left}
#centro {text-align: center}


tw {color: #9c9da3; font-size: 75; font-family: Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif;}
t.c { color : #887162; font-size: 65; font-family: Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif}
n { color : #57483E; font-size: 20; font-family: Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif }
p {margin: 5px;}
#cajita {
  border:1px solid #5a537e;
  border-radius: 6px;

  background-color:#242426;
  width:800px;
  height:auto;
  margin-left:auto;
  margin-right:auto;
  margin-top:40px;
  padding-top:40px;
  padding-bottom:40px;
  }


#cabecera {
    background-color:#57483E;
    text-align: center;
    height:auto;
    margin-left:auto;
    margin-right:auto;
    box-shadow:black 0px 5px 10px;
    padding: 20px 10px;
}

#fondo {
  position: absolute;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -1
}
