@charset "UTF-8";
/* CSS Document */


#fulljustify {
  text-align: justify;
}
opacity05{
  opacity: 0.5;
}
#key {

  letter-spacing: -.020em;
  font-size: 16px;
  font-family:monospace;
  display: block;
  overflow: auto;
  padding: 8px;
  margin-top: 1em;
}

tw {color: #9c9da3; font-size: 20px; font-family: modern;}
begend {color: #3500D3;color: #9c9da3; font-size: 30px; font-family: modern;}
t.c { color : #887162; font-size: 65; font-family: Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif}
n { color : #57483E; font-size: 20; font-family: Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif }
p {margin: 5px;}
#cajita {
  color: #9c9da3;
  color: #737766;
  border:1px solid #5a537e;
  border-radius: 6px;
  background-color:#242426;
  width: 55%;
  height: 90%;
  margin-left:auto;
  margin-right:auto;
  margin-top:40px;
  margin-bottom:40px;
  padding-top:40px;
  padding-bottom:40px;
  }

purple{
  color: #3500D3;
}
#cabecera {
    background-color:#57483E;
    text-align: center;
    height:auto;
    margin-left:auto;
    margin-right:auto;
    box-shadow:black 0px 5px 10px;
    padding: 20px 10px;
}

#fondo {
  position: absolute;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -1
}
.left, .right {
  float: left;
  width: 20%; /* The width is 20%, by default */
}

.main {
  float: left;
  width: 60%; /* The width is 60%, by default */
}

/* Use a media query to add a breakpoint at 800px: */
@media screen and (max-width: 800px) {
  .left, .main, .right, #cajita,#key {
    width: 90%; /* The width is 100%, when the viewport is 800px or smaller */
    margin-top:10px;
    font-size: 9px;
    margin-bottom:10px;
    padding-top:10px;
    padding-bottom:10px;
  }
  begend{
    font-size: 16px;
  }
}
